<!DOCTYPE html>
<html>
<head>
  <title>HackerNewsRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <%= link_to "Hacker News", :root %>
  <% if current_user %>
    <%= link_to "Submit", :new_post %>
    <%= link_to current_user.username, user %>
  <% end %>
  <%= link_to "Login"  %>
  <%= link_to "Register", :new_user %>
  <%= link_to "Logout"  %>
</nav>
<%= yield %>

</body>
</html>
